name: Build, Push and Deploy DS to DockerHub

on:
  pull_request:
    types: [opened]
  workflow_dispatch:

env:
  DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
  DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}

jobs:
  build:
    name: Build and Push Images to DockerHub
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Java 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}




      - name: Build Api Gateway
        working-directory: ds-api-gateway
        run: |
          mvn clean package -DskipTests
          docker build -t $DOCKERHUB_USERNAME/ds-api-gateway:latest .
          docker push $DOCKERHUB_USERNAME/ds-api-gateway:latest

      - name: Build Account Service
        working-directory: ds-account-service
        run: |
          mvn clean package -DskipTests
          docker build -t $DOCKERHUB_USERNAME/ds-account-service:latest .
          docker push $DOCKERHUB_USERNAME/ds-account-service:latest

      - name: Build Client Service
        working-directory: ds-client-service
        run: |
          mvn clean package -DskipTests
          docker build -t $DOCKERHUB_USERNAME/ds-client-service:latest .
          docker push $DOCKERHUB_USERNAME/ds-client-service:latest

  deploy:
    name: Deploy all services
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Simulate deployment
        run: |
          echo "Simulating deployment of all services"
